@{
    ViewData["Title"] = "Home Page";
}
</style>
<div class="text-center">
    <h1>Fuel Rate Forecaster</h1>
    <br>
    <h2>COSC 4353 Project 2023 Fall</h2>
    <h2> Group 3 </h2>
    <br>
    <p>Mason Zhang</p>
    <p>David Liu</p>
    <p>Ziming Xu</p>
    <p>Jiawei Fang</p>
</div>
